body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1B1F24;
}
:root{
    --fonte-principal: 'Montserrat';
    --tamanho-base-fonte: 16px;
}
#logo{
    text-align: center;
    font-family: var(--fonte-principal);
    color: #00FFFF;
    text-decoration: underline;
    font-weight: 700;
    font-size: 35px;
    text-shadow: #00FFFF 0.1px 0.1px 7px;
}
#text-banner{
    font-family: var(--fonte-principal);
    color: white;
    display: flex;
    overflow: hidden;
}
#img-banner img{
    transform: scale(1.1);
    image-rendering: pixelated;
    image-rendering: optimizeQuality;
    
    
}
#principal-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 40px;
    max-width: 1000px;
    
}

#btt-principal{
    background-color: #00FFFF;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    box-shadow: 1px 1px 5px 0.2px aqua;
}
@media(max-width:1100px){
    #text-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #principal-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #img-banner img{
        width: 90vw;
    }
}
.painel{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,rgba(0, 255, 255, 0.75) 0%, rgba(3, 143, 143, 1) 57%, rgba(14, 14, 14, 0.75) 100%);
    border-radius: 20px;
    margin: 30px 40px;
    font-family: var(--fonte-principal);
}
.escrita-painel{
    font-size: 10px;
    padding: 20px;
}
.beneficio{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 810px;
    padding: 30px;
    color: white;
}
@media(max-width:1000px) {
    .painel{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 30px;
    }
}
.escritas{
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    margin: 40px;
    color: white;
}
.escrita{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    padding: 10px;
}
.escrita-text{
    display: flex;
    justify-content: center;
    max-width: 1600px;
}
.title-escritas{
    text-align: center;
}
.icon{
    
  background: linear-gradient(131deg,rgba(0, 255, 255, 1) 0%, rgb(34, 179, 179) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media(max-width:800px){
    .escritas{
        display: flex;
        flex-direction: column;
    }
    .escrita-text{
        display: flex;
        flex-direction: column;
    }
}
.gradient-border {
    margin: 30px;
  padding: 5px; 
  border-radius: 20px;
  background: linear-gradient(90deg,rgba(0, 255, 255, 1) 0%, rgba(34, 201, 201, 1) 50%, rgba(0, 74, 235, 1) 100%);
}

.conteudo {
  background: #fff1f4; 
  border-radius: 17px;
  padding: 20px;
  display: flex;
    justify-content: space-around;
    font-family: var(--fonte-principal);

}
.website{
    padding: 20px;
    max-width: 1000px;
}
.web1{
    color: rgb(90, 90, 90);
}
.web2 h1{
    color: #00ffff;
}
@media(max-width:900px){
    .conteudo{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
}

.servicos{
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 40px;

}
.servicos h1{
    text-align: center;
    max-width: 800px;
}
.servicostxt{
    display: flex;
    justify-content: center;
}
.servtxt{
   background-color: #1B1F24;
   padding: 20px;
   margin: 10px;
   border-radius: 16px;
   font-size: 17px;
   max-width: 400px;
   font-weight: 600;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   border: 2px solid #00ffff;
}
@media(max-width:1000px){
    .servicostxt{
        display: flex;
        flex-direction: column;
    }
    .servtxt{
        max-width: 600px;
    }
}